In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [24]:
df.columns
df.shape

(891, 12)

In [25]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [27]:
df["Embarked"].fillna("S",inplace = True)
df["Embarked"].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [28]:
df["Age"].fillna(df["Age"].median(), inplace=True)

In [29]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [30]:
features = ["Pclass", "Sex", "Fare", "Embarked", "Age", "SibSp", "Parch"]
target = "Survived"

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(df[features], df[target], test_size = 0.33)
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [32]:
decision_tree = DecisionTreeClassifier(max_leaf_nodes = 10, random_state = 10)
decision_tree.fit(X_train, Y_train)
accuracy1 = cross_val_score(decision_tree, X_train, Y_train, cv = 10)
print(accuracy1)

[0.85       0.76666667 0.73333333 0.91666667 0.8        0.76666667
 0.77966102 0.79661017 0.72881356 0.89830508]

In [33]:
knearest = KNeighborsClassifier(n_neighbors = 3)
knearest.fit(X_train, Y_train)
accuracy2 = cross_val_score(knearest, X_train, Y_train, cv = 10)
print(accuracy2)

[0.76666667 0.65       0.7        0.75       0.8        0.7
 0.59322034 0.74576271 0.6779661  0.76271186]

In [34]:
logistic_regression = LogisticRegression(random_state=0,solver = "liblinear", max_iter=100)
logistic_regression.fit(X_train, Y_train)
Y_prediction = logistic_regression.predict(X_test)
accuracy3 = cross_val_score(logistic_regression, X_train, Y_train, cv = 10)
print(accuracy3)

[0.81666667 0.76666667 0.78333333 0.91666667 0.8        0.76666667
 0.76271186 0.83050847 0.74576271 0.84745763]

In [35]:
random_forest = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=10)
random_forest.fit(X_train, Y_train)
accuracy4 = cross_val_score(random_forest, X_train, Y_train, cv = 10)
print(accuracy4)

[0.85       0.83333333 0.78333333 0.91666667 0.86666667 0.75
 0.79661017 0.76271186 0.74576271 0.86440678]

In [36]:
support_vector = SVC(kernel = 'linear',random_state = 10)
support_vector.fit(X_train, Y_train)
accuracy5 = cross_val_score(support_vector, X_train, Y_train, cv = 10)
print(accuracy5)

[0.81666667 0.75       0.73333333 0.9        0.76666667 0.76666667
 0.83050847 0.77966102 0.77966102 0.84745763]